<!--/* header */-->
<div th:fragment="loginHeader" class="row pt-5">
    <div class="col new-pt-45 text-center">
        <a href="/" class="fst-italic text-primary" style="font-family: Montserrat variant1; font-weight: 900; font-size: 2.5em;">TimeNote</a>
    </div>
</div>

<div th:fragment="findAccountHeader" class="row pt-4 pb-3">
    <div class="col new-pt-45 text-center">
        <a href="/user/login" class="fst-italic text-primary" style="font-family: Montserrat variant1; font-weight: 900; font-size: 2.5em;">TimeNote</a>
    </div>
</div>

<div th:fragment="createAccountHeader" class="row pt-2 new-pb-45 ps-2">
    <div class="col text-primary">
        <a href="/user/login" class="fst-italic text-primary" style="font-family: Montserrat variant1; font-weight: 900; font-size: 1.7em;">TimeNote</a>
    </div>
</div>

<div th:fragment="mainHeader" class="row pt-2 new-pb-25 ps-2 bg-primary">
    <div class="col">
        <a href="/mainPage" class="fst-italic new-text-white" style="font-family: Montserrat variant1; font-weight: 900; font-size: 1.7em;">TimeNote</a>
    </div>
</div>