<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeNote</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/css/common.css">

    <!--/*  SweetAlert2  */-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        <!--/* SweetAlert 커스텀 */-->
        .swal2-title {
            font-size: 1.3em;
            font-weight: bold;
            color: #333;
        }

        .swal2-confirm {
            background-color: #3498DB;
        }

        .swal2-deny {
            background-color: #27a45c;
        }

        .swal2-icon {
            font-size: 0.9em;
        }
    </style>

</head>

<body>
<div class="wrapper">

    <div class="container">
        <div th:replace="~{common/navi::mainHeader}"></div>

        <div class="row py-2">
            <div class="col-8 fw-bold" style="font-size: 1.3rem;">
                채용 공고
            </div>
            <div class="col pe-2 d-grid" th:if="${session.loginUser == null && session.loginCompany != null}">
                <a class="btn btn-primary" href="/company/insertRecruitPage">공고 등록</a>
            </div>
        </div>

        <div class="row pb-1 align-items-center new-fs-9 new-text-gray">
            <div id="recruitCountDiv" class="col-auto">
                0 건
            </div>
            <div class="col"></div>
            <div class="col-auto pe-0">
                <select id="orderBy" name="" class="form-select new-fs-9 new-text-gray border border-0" onclick="">
                    <option selected disabled hidden value="0" class="new-fs-9 new-text-gray">정렬</option>
                    <option class="new-fs-9 new-text-gray" value="">등록일</option>
                    <option class="new-fs-9 new-text-gray" value="">시급순</option>
                </select>
            </div>
        </div>

        <div class="row pb-5">
            <div id="recruitListBox" class="col pb-3">

            </div>
        </div>

        <div th:replace="~{common/navi::naviBar}"></div>
    </div>

</div>

<!--/* 공고 템플릿 */-->
<div id="recruitListTemplate" class="d-none">
    <div class="row py-2 border-top recruitListWrapper">
        <div class="col">
            <a class="recruitHref">
                <div class="row align-items-center">
                    <div class="col new-fs-95 new-text-gray2 companyNameDiv">
                        회사 이름
                    </div>
                    <div class="col-2 new-fs-9 ps-0 text-end text-primary1 createdAtDiv">
                        등록 시간
                    </div>
                </div>

                <div class="row align-items-center py-1">
                    <div class="col fw-bold titleDiv">
                        공고 제목
                    </div>
                </div>

                <div class="row align-items-center new-fs-9 new-text-gray2">
                    <div class="col-auto startTimeDiv">
                        10:00
                    </div>
                    <div class="col-auto px-0">
                        ~
                    </div>
                    <div class="col-auto endTimeDiv">
                        15:00
                    </div>
                    <div class="col-auto"></div>
                </div>

                <div class="row pt-1 new-fs-9 new-text-gray2">
                    <div class="col-auto companyRoadAddressDiv">
                        서울시 송파구 문정동
                    </div>
                    <div class="col-auto px-0">
                        •
                    </div>
                    <div class="col-auto pe-0 new-text-red">
                        시
                    </div>
                    <div class="col-auto ps-1 hourlyRateDiv">
                        12,000
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/public/js/main/jobBoard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

