<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--   반응형 웹 태그  (사용 중인 기기의 화면 너비에 맞춤) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/css/common.css">
    <style>
        .custom-placeholder::placeholder {
            color: #adadad; /* 원하는 색상 */
        }
    </style>
</head>
<body>
<div id="root">

    <div class="wrapper">

        <div class="container">
            <div class="row pt-4 pb-3">
                <div class="col new-pt-45 text-center text-primary">
                    <span class="fst-italic" style="font-family: Montserrat variant1; font-weight: 900; font-size: 2.5em;">TimeNote</span>
                </div>
            </div>

            <div class="row pb-3">
                <div class="col text-center fs-6">
                    비밀번호를 찾을 아이디를 입력하세요.
                </div>
            </div>

            <div id="findAccountPwById" class="">
                <div class="row px-4">
                    <div class="col border rounded">
                        <div class="row align-items-center">
                            <div class="col-auto pe-0 new-text-light-gray2">
                                <span class="material-symbols-outlined d-flex justify-content-center new-fw-thin">person</span>
                            </div>
                            <div class="col ps-0">
                                <input type="text" id="inputAccount" name="account" class="form-control ps-2 new-py-25 custom-placeholder border border-0" placeholder="아이디">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 아이디가 없을 경우 -->
                <div id="findIdFailInfo" class="row new-ps-25 d-none">
                    <div class="col px-3 new-fs-8 new-text-red">
                        <div class="row">
                            <div class="col">입력하신 정보로 가입된 계정을 찾을 수 없습니다.</div>
                        </div>
                        <div class="row">
                            <div class="col">정보를 다시 확인해주세요.</div>
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col d-grid px-4">
                        <span class="btn btn-primary new-py-25" onclick="accountCheck()">다음</span>
                    </div>
                </div>
            </div>

            <div id="findPasswordQuestion" class="d-none">
                <div class="row new-pt-25 px-4">
                    <div class="col border rounded-top">
                        <div class="row align-items-center">
                            <div class="col-auto pe-0 new-text-light-gray2">
                                <span class="material-symbols-outlined d-flex justify-content-center new-fw-thin">encrypted</span>
                            </div>
                            <div class="col ps-0">
                                <input type="text" id="question" name="findPasswordQuestion" class="form-control ps-2 new-py-25 custom-placeholder border border-0" placeholder="비밀번호 질문" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row px-4">
                    <div class="col border rounded-bottom">
                        <div class="row align-items-center">
                            <div class="col-auto pe-0 new-text-light-gray2">
                                <span class="material-symbols-outlined d-flex justify-content-center new-fw-thin">vpn_key</span>
                            </div>
                            <div class="col ps-0">
                                <input type="text" id="inputPassWordAnswer" name="answer" class="form-control ps-2 new-py-25 custom-placeholder border border-0" placeholder="비밀번호 찾기 답변">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 답변이 틀린 경우 -->
                <div id="pwAnswerFailInfo" class="row new-ps-25 d-none">
                    <div class="col px-3 new-fs-8 new-text-red">
                        <div class="row">
                            <div class="col">비밀번호 찾기 답변이 일치하지 않습니다.</div>
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col d-grid px-4">
                        <span class="btn btn-primary new-py-25" onclick="inputAnswer()">비밀번호 찾기</span>
                    </div>
                </div>
            </div>

            <!-- 비밀번호 업데이트 -->
            <form id="updatePasswordForm">
                <div id="passwordUpdate" class="d-none">
                    <div class="row new-pt-25 px-4">
                        <div class="col border rounded-top">
                            <div class="row align-items-center">
                                <div class="col-auto pe-0 new-text-light-gray2">
                                    <span class="material-symbols-outlined d-flex justify-content-center new-fw-thin">encrypted</span>
                                </div>
                                <div class="col ps-0">
                                    <input type="password" id="newPasswordInput" class="form-control ps-2 new-py-25 custom-placeholder border border-0" placeholder="새로운 비밀번호">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row px-4">
                        <div class="col border rounded-bottom">
                            <div class="row align-items-center">
                                <div class="col-auto pe-0 new-text-light-gray2">
                                    <span class="material-symbols-outlined d-flex justify-content-center new-fw-thin">verified_user</span>
                                </div>
                                <div class="col ps-0">
                                    <input type="password" id="checkPasswordInput" name="accountPw" class="form-control ps-2 new-py-25 custom-placeholder border border-0" placeholder="비밀번호 확인">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 답변이 틀린 경우 -->
                    <div id="checkPasswordFailInfo" class="row new-ps-25 d-none">
                        <div class="col px-3 new-fs-8 new-text-red">
                            <div class="row">
                                <div class="col">비밀번호가 일치하지 않습니다. 다시 입력해 주세요.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col d-grid px-4">
                            <span class="btn btn-primary new-py-25" onclick="updatePassword()">비밀번호 변경하기</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row pt-3 px-5 new-fs-9 justify-content-center align-items-center new-text-light-gray mx-auto">
                <div class="col-auto px-2">
                    <a href="/user/login" class="text-hover new-text-light-gray">로그인</a></div>
                <div class="col-auto px-0"> | </div>
                <div class="col-auto px-2">
                    <a href="/user/findAccount" class="text-hover new-text-light-gray">아이디 찾기</a></div>
                <div class="col-auto px-0"> | </div>
                <div class="col-auto px-2">
                    <a href="/user/join" class="text-hover new-text-light-gray">회원가입</a>
                </div>
            </div>

        </div>
    </div>

</div>

<!--/* 알림 모달... */-->
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="reviewUpdateDoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable new-text-black justify-content-center">
        <div class="modal-content new-text-black" style="width: 20em;">

            <div class="modal-body">
                <div class="row py-2 align-items-center">
                    <div class="col fw-bold text-center">
                        <span id="testAlert"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/public/js/user/findPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

